<ion-view view-title="Acerca de la aplicación">
  <ion-content>
  
  	<div class="list card">

	  <div class="item item-avatar">
	    <img src="./img/icon.png">
	    <h2>xDiente</h2>
	    <p>by Cuatro Colibrí 2015 (R)</p>
	  </div>
	
	  <div class="item item-text-wrap">
	    Versión de la aplicación: {{appVersion}}<br>
	    UUID del dispositivo: {{deviceUUID}}
	  </div>
	
	  <a class="item item-icon-left calm" href="#">
	    <i class="icon ion-android-share-alt"></i>
	    Compartir
	  </a>
	
	</div>
    
  </ion-content>
</ion-view>
