<ion-view view-title="Agenda">
  <ion-content>
    <ion-list>
      
      <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
  		<ion-item collection-repeat="item in Dates | filter: data.searchQuery" class="item-avatar">
  		
      		<img src="./img/date.png">
			{{item.firstname}} {{item.lastname}}
			<p>{{item.date}}</p>
				
			<ion-option-button class="button-assertive" ng-click="edit(item.id)">
	            Editar
	        </ion-option-button>
	        
	        <ion-option-button class="button-calm" ng-click="view(item.id)">
	            Mostrar
	        </ion-option-button>

  		</ion-item>
      </ion-list>
      
    </ion-list>
  </ion-content>
</ion-view>
