<ion-view view-title="Cita">
  <ion-content>
 
    <div class="list card">

	  <div class="item">
	    <h2>{{myData.Date}}</h2>
	    <p>{{myData.Firstname}} {{myData.Lastname}}</p>
	  </div>
	
	  <div class="item item-body">
	    <p>
	      Revisión...
	    </p>
	    <p>
	      <a href="#" class="subdued">1 Cita</a>
	      <a href="#" class="subdued">5 Notas</a>
	    </p>
	  </div>
	
	  <div class="item tabs tabs-secondary tabs-icon-left">
	    <a class="tab-item" href="#">
	      <i class="icon ion-clipboard"></i>
	      Expediente
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-edit"></i>
	      Editar
	    </a>
	  </div>
	
	</div>

  </ion-content>